---
import Layout from "../../layouts/Layout.astro";
import StoryTile from "../../components/CoNexus/storyTile.astro"
---

<Layout title="Collabs | CoNexus">
  <section class="tiles-section">
    <StoryTile storySection="Collabs" storyName="GLMR Apes"></StoryTile>
  </section>
</Layout>