---
import Layout from "../../layouts/Layout.astro";
import StoryTile from "../../components/CoNexus/storyTile.astro"
---

<Layout title="Collabs | CoNexus">
  <section class="conexus-menu-tiles">
    <StoryTile storySection="Collabs" storyName="GLMA"></StoryTile>
  </section>
</Layout>