---
import Layout from "../../layouts/Layout.astro";
import StoryTile from "../../components/CoNexus/storyTile.svelte"
---

<Layout title="Community Picks | CoNexus" header="Community Picks">
  <section class="tiles-section">
    <StoryTile storySection="CommunityPicks" storyName="Upcoming" />
  </section>

  <script>
    import addTilesListener from "../../components/CoNexus/tilesListener.js";
    addTilesListener('story', 'CommunityPicks');
  </script>
</Layout>