---
import Layout from "../../layouts/Layout.astro";
import StoryTile from "../../components/CoNexus/storyTile.svelte"

const communityStories = ['Upcoming'];

const arrow = true;
const storySection = 'CommunityPicks';
const subheading = `
Community Picks are stories that aren't bound to any project or genre but have been demanded, written, or voted in by the Potentials holders.`
---

<Layout title="Community Picks | CoNexus" header="Community Picks" {subheading} {arrow}>

  <section class="tiles-section">
    {communityStories.map((name) => (
      <StoryTile {storySection} storyName={name} />
    ))}
  </section>


  <script>
    import addTilesListener from "../../components/CoNexus/listeners.js";
    addTilesListener('CommunityPicks');
  </script>
  
</Layout>