---
import Layout from "../../layouts/Layout.astro";
import StoryTile from "../../components/CoNexus/storyTile.svelte"

const subheading = `
The Dischordian Saga led to the creation of CoNexus and tells the epic narrative of wars between Artificial Intelligence and Humanity. Its story nodes, voted on by the Potentials NFT holders, evolve the lore and activate a new story within CoNexus each week.`;
---

<Layout title="Dischordian Saga | CoNexus" header="Dischordian Saga" {subheading}>
  <section class="tiles-section">
    <StoryTile storySection="DischordianSaga" storyName="Escape" />
    <StoryTile storySection="DischordianSaga" storyName="Arena" />
  </section>

  <section class="tiles-section">
    <StoryTile storySection="DischordianSaga" storyName="Assassin" />
    <StoryTile storySection="DischordianSaga" storyName="Soldier" />
    <StoryTile storySection="DischordianSaga" storyName="Spy" />
    <StoryTile storySection="DischordianSaga" storyName="Engineer" />
    <StoryTile storySection="DischordianSaga" storyName="Oracle" />
    <StoryTile storySection="DischordianSaga" storyName="NeYon" />
  </section>

  <section class="tiles-section">
    <StoryTile storySection="DischordianSaga" storyName="Inception Ark" />
  </section>

  <script>
    import addTilesListener from "../../components/CoNexus/tilesListener.js";
    addTilesListener('story', 'DischordianSaga');
  </script>
</Layout>