---
  import { displayButtons } from "./data/buttons.js";
---


<section class="top">
  <div class="display-buttons">
    <img src={displayButtons[0].video} alt="Format button" class="display-btn format">
    <img src={displayButtons[1].inactive} alt="Vote button" class="display-btn vote">
  </div>
  <img src="/public/governanceHubAssets/display.avif" alt="Display" id="display" />
  <img src="/public/governanceHubAssets/displayBG.avif" alt="Display background" id="display-bg" />
  <div class="video">
    <iframe id="youtube" title="YouTube" allowfullscreen></iframe>
  </div>
</section>


<script>
  import { displayButtons } from "./data/buttons";
  
  const formatButton:any = document.querySelector('.format');
  const voteButton:any = document.querySelector('.vote');


  formatButton.addEventListener('mouseenter', () => {
    if(formatButton.src.includes(displayButtons[0].video)) {
        formatButton.src = displayButtons[0].textHover;
      } else {
        formatButton.src = displayButtons[0].videoHover;
      }
  })

  formatButton.addEventListener('mouseout', () => {
      if(formatButton.src.includes(displayButtons[0].textHover)) {
        formatButton.src = displayButtons[0].video;
      } else if(formatButton.src.includes(displayButtons[0].videoHover)){
        formatButton.src = displayButtons[0].text;
      }
    })
  
  formatButton.addEventListener('click', () => {
    if(formatButton.src.includes(displayButtons[0].textHover) || formatButton.src.includes(displayButtons[0].video)) {
      formatButton.src = displayButtons[0].text;
      //storyText.style.visibility = 'visible';
      //videoFrame.style.visibility = 'hidden';
    } else {
      formatButton.src = displayButtons[0].video;
      //storyText.style.visibility = 'hidden';
      //videoFrame.style.visibility = 'visible';
    }
  })

  voteButton.addEventListener('mouseenter', () => {
      if(voteButton.src.includes(displayButtons[1].image)) {
          voteButton.src = displayButtons[1].hover;
      }
    })
  
  voteButton.addEventListener('mouseout', () => {
    if(voteButton.src.includes(displayButtons[1].hover)) {
      voteButton.src = displayButtons[1].image;
    }
  })

  voteButton.addEventListener('click', () => {
    if(voteButton.src.includes(displayButtons[1].hover)) {
      voteButton.src = displayButtons[1].click;
      //inactiveOptions();
    }
  })
</script>


<style>
  .top {
    position: relative;
    display: block;
    margin: 2.5vw;
    margin-bottom: 0;
  }

  .display-buttons {
    position: absolute;
    width: 27.5%;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-image: url("/public/governanceHubAssets/format.png");
    background-position: top;
    background-size: contain;
  }

  .format, .vote {
    cursor: pointer;
  }

  .video {
    position: absolute;
    height: 47.6vw;
    width: 84.6vw;
    top: 7.6vw;
    left: 5.2vw;
  }

  #youtube {
    width: 100%;
    height: 100%;
  }

  #display-bg {
    position: absolute;
    left: 0;
    z-index: -10;
  }


  @media only screen and (max-width: 600px) {
    .format {
      display: none;
    }

    .vote {
      display: none;
    }

    #youtube {
      visibility: visible;
    }
  }
</style>