---
const { activeEpisode, lastStoryNumber } = Astro.props;

class EpisodeTile {
  constructor(data, i) {
    this.title = `Episode ${i + 1} - ${data[i].storyTitle}`;
    this.image = `https://img.youtube.com/vi/${data[i].videoLink}/hqdefault.jpg`;
    this.active = false;
  } 
}
const episode = [];
---


<section class="other-episodes">
  <div class="story-nodes-icon"></div>
  <div class="story-nodes-container">
    <div class="story-nodes-legend"></div>
    <div class="story-nodes"></div>
  </div>
</section>


<script>
  
</script>