---

---


<section class="middle">
  <div class="legend">
    <h1 class="header"></h1>
    <h2 class="duration"></h2>
  </div>
  <div class="text"></div>
  <ul class="options"></ul>

  <span class="voting-ended"></span>
</section>