---
import Layout from "../layouts/Layout.astro";
import MenuTile from "../components/CoNexus/menuTile.svelte";

const arrow = false;
const subheading = `
CoNexus is the gateway to a boundless multiverse with immersive and dynamic interactive Choose-Your-Adventure stories. Powered by cutting-edge artificial intelligence, CoNexus generates captivating narratives in real time, offering you an unparalleled journey into infinite and one-of-a-kind experiences.
Within CoNexus, you will transcend the boundaries of reality as we know it.`;
---

<Layout title="CoNexus | DeGenerous" header="CoNexus" {subheading} {arrow}>

  <section class="conexus-menu-tiles">
    <MenuTile storyName="Collabs" />
    <MenuTile storyName="Dischordian Saga" />
    <MenuTile storyName="Community Picks" />
  </section>


  <script>
    const tiles = document.querySelectorAll('.tile');
    const tilePictures: any = document.querySelectorAll('.tile-picture');

    tiles.forEach((tile, i) => {
      tile.addEventListener('mouseover', () => {
        tilePictures[i].src = `conexusAssets/titlePicture/${tile.id.replace(/\s+/g, '')}2.avif`;
      })
      tile.addEventListener('mouseout', () => {
        tilePictures[i].src = `conexusAssets/titlePicture/${tile.id.replace(/\s+/g, '')}1.avif`;
      })
    })

    const logo = document.querySelector('.logo');
    logo.addEventListener('click', () => {
      window.open('https://degenerousdao.com/', '_blank');
    })
  </script>

</Layout>