---
import Layout from "../layouts/Layout.astro";
//import StoryTile from "../components/CoNexus/menuTile.astro"
import MenuTile from "../components/CoNexus/menuTile.svelte"
---

<Layout title="CoNexus | DeGenerous" header="CoNexus">
  <section class="conexus-menu-tiles">
    <MenuTile storySection="Collabs"></MenuTile>
    <MenuTile storySection="Dischordian Saga"></MenuTile>
    <MenuTile storySection="Community Picks"></MenuTile>
  </section>
</Layout>