---
import Layout from "../layouts/Layout.astro";
import StoryTile from "../components/storyTile.astro"
---

<Layout>
  <section>
    <StoryTile storyTitle="Collabs"></StoryTile>
    <StoryTile storyTitle="Dischordian Saga"></StoryTile>
    <StoryTile storyTitle="Community Picks"></StoryTile>
  </section>
</Layout>

<style>
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
</style>