---
import Layout from "../layouts/Layout.astro";
import StoryTile from "../components/storyTile.astro"
---

<Layout title="CoNexus | DeGenerous">
  <section class="conexus-menu-tiles">
    <StoryTile storyName="Collabs"></StoryTile>
    <StoryTile storyName="Dischordian Saga"></StoryTile>
    <StoryTile storyName="Community Picks"></StoryTile>
  </section>
</Layout>