---
import Layout from "../layouts/Layout.astro";
import StoryTile from "../components/CoNexus/menuTile.astro"
---

<Layout title="CoNexus | DeGenerous" header="CoNexus">
  <section class="conexus-menu-tiles">
    <StoryTile storySection="Collabs"></StoryTile>
    <StoryTile storySection="Dischordian Saga"></StoryTile>
    <StoryTile storySection="Community Picks"></StoryTile>
  </section>
</Layout>