---
import Layout from "../layouts/Layout.astro"

const profile = false;
const subheading = null;
---


<Layout title="DeGenerous DAO" header="DeGenerous DAO" {subheading} {profile}>
		<div>
			<a href="https://windickated.github.io/GovernanceHub/">Galactic Governance Hub</a>
			<a href="DeGenerous/CoNexus">CoNexus</a>
			<a href="DeGenerous/Sagaverse">Sagaverse</a>
		</div>
</Layout>


<style>
	div {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
		width: 60vw;
		margin: 0 20vw;
		border: 0.1vw solid rgba(51, 226, 230, 0.5);
    border-radius: 2.5vw;
		background-color: rgba(51, 226, 230, 0.1);
		-webkit-backdrop-filter: blur(2vw);
		backdrop-filter: blur(2vw);
	}

	a {
		margin: 2.5vw;
		font-size: 3vw;
		line-height: 4vw;
		text-decoration: none;
		text-align: center;
		color: rgba(51, 226, 230, 0.75);
	}

	a:hover {
		color: rgba(51, 226, 230, 1)
	}

	@media only screen and (max-width: 600px) {
		div {
			width: 90vw;
			margin: 0 5vw;
		}

		a {
			font-size: 1.5em;
			line-height: 1.5em;
			margin: 1em 0.5em;
		}
	}
</style>