---
const { title, header, subheading, arrow } = Astro.props
---

<html lang="en">
	<head>
		<title>{ title }</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css">
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	</head>
	<body>

		<section class="container">
			{arrow && <span class="arrow" />} 
			{!arrow && <span class="logo" />}
			<p class="header">{ header }</p>
			<p class="subheading">{ subheading }</p>
		</section>


    <slot />


		<script>
			const icon = document.querySelector('span');

			if(icon.className === 'logo') {
				icon.addEventListener('click', () => window.open('https://degenerousdao.com/', '_blank'))
			} else if(icon.className === 'arrow') {
				icon.addEventListener('click', () => window.open('/CoNexus', '_self'));
			}
		</script>


		<style>
			.header {
				font-size: 5vw;
				line-height: 5vw;
				text-align: center;
				margin: 3vw auto;
				color: rgba(51, 226, 230, 0.85);
				-webkit-text-stroke: 0.03vw #33E2E6;
				filter: drop-shadow(0 0 1vw rgba(51, 226, 230, 0.5));
			}

			.subheading {
				font-size: 2vw;
				line-height: 2.5vw;
				text-align: center;
				color: rgba(51, 226, 230, 0.85);
				padding: 0 5vw 3vw 5vw;
				text-shadow: 0 0 1vw #010020;
				filter: drop-shadow(0 0 1vw #010020)
			}

			span {
				position: absolute;
				top: 2vw;
				left: 2vw;
				height: 7vw;
				width: 7vw;
				cursor: pointer;
				z-index: 1;
				background-size: contain;
			}

			.arrow {
				background-image: url('/backArrow.avif');
				opacity: 0.4;
			}

			.arrow:hover {
				filter: drop-shadow(0 0 1vw rgba(51, 226, 230, 0.5));
				opacity: 0.75;
			}

			.logo {
				background-image: url('/logo.avif');
				opacity: 0.7;
			}

			.logo:hover {
				opacity: 0.9;
			}


			@media only screen and (max-width: 600px) {
				.header {
					font-size: 2em;
					line-height: 2em;
					margin: 0.25em auto;
				}

				.subheading {
					font-size: inherit;
					line-height: 1.6em;
					padding: 1em;
					margin: 0 1em 1em 1em;
					text-align: center;
					background-color: rgba(22, 30, 95, 0.5);
					backdrop-filter: blur(2vw);
					border: 0.1vw solid rgba(51, 226, 230, 0.5);
    			border-radius: 2.5vw;
				}

				span {
					width: 3em;
					height: 3em;
					top: 1em;
					left: 0.5em;
				}
			}
		</style>
  </body>
</html>